.container--howto {
    padding-top: 28px;
    padding-bottom: 44px;
    background-color: #fff;

    @include media-tablet {
        padding-top: 40px;
        padding-bottom: 60px;
    }

    @include media-desktop {
        padding-top: 50px;
        padding-bottom: 80px;
    }
}

.flex--howto {
    gap: 25px;
    flex-direction: column;

    @include media-tablet {
        flex-direction: row;
    }
}

.howto-step {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 22px;
    height: 72px;
    margin-left: 12px;

    border-radius: 20px;
    font-weight: 500;
    background-color: $color-background;
    box-shadow: 0px 4px 15px 0px #00000026;

    &__number {
        @include flex-center;
        min-width: 24px;
        height: 24px;
        margin-left: -12px;
        border-radius: 50%;

        font-size: 14px;
        font-weight: 500;
        color: #fff;
        background-color: $color-primary;
    }

    &__ico {
        width: 18px;
        font-size: 18px;
        text-align: center;

        color: $color-grey-3;
    }

    &:hover {
        background-color: $color-primary-2;
    }

    &:hover &__ico {
        color: $color-primary;
    }
}