@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@mixin animation-delay($count) {
    // $count correspond a l'ordre des sections du menu
    $loop: 5; // nombre de plats par section
    $animation-delay: $count * $loop * 100ms;

    h2 {
        animation-delay: $animation-delay
    }

    .menu-card {
        @for $i from 1 through $loop {
            &:nth-child(#{$i}) {
                animation-delay: $animation-delay + 100ms * $i;
            }
        }
    }
}

.menu-page {
    background-color: #fff;
}

.banner {
    position: relative;
    margin-bottom: -55px;
    z-index: -1;

    width: 100%;
    height: 275px;
    object-fit: cover;
}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin: auto;
    padding-top: 30px;

    @include media-tablet {
        justify-content: center;
    }

    h1 {
        @include font-family-heading;
        font-size: 28px;
        margin: 0;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .btn-like {
        margin: 0 24px 0 0;
    }
}

.menu {
    margin: auto;
    max-width: 540px;
    padding: 0 13px;
    background: $color-background;
    border-radius: 40px 40px 0 0;

    .menu-header,
    .menu-group {
        max-width: 480px;
    }

    @include media-tablet {
        max-width: 768px;

        .menu-header,
        .menu-group {
            max-width: 540px;
        }
    }

    @include media-desktop {
        max-width: 1060px;

        .menu-header,
        .menu-group {
            max-width: 640px;
        }
    }

    .btn--order {
        text-align: center;
        margin: 40px auto;

        .btn {
            padding: 0 50px;
        }
    }
}

.menu-group {
    margin: 40px auto 0;

    h2 {
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;

        &::after {
            content: "";
            display: block;
            width: 40px;
            margin-top: 5px;
            border-bottom: solid 3px $color-green;
        }
    }

    h2,
    .menu-card {
        animation: slide-in .6s ease-in-out both;
    }

    &--1 {
        @include animation-delay(0);
    }

    &--2 {
        @include animation-delay(1);
    }

    &--3 {
        @include animation-delay(2);
    }
}

.menu-card {
    display: flex;
    margin-top: 12px;

    &__grid {
        flex: 1;

        display: grid;
        grid:
            "a ." 1fr "b c" 1fr / 1fr 50px auto;
        gap: 1px;
        align-items: center;

        padding: 12px 20px;
    }

    background-color: #fff;
    box-shadow: 0px 4px 15px 0px #0000001A;
    border-radius: 15px;
    overflow: hidden;

    &__txt {
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &--line1 {
            grid-area: a;
            font-size: 18px;
            font-weight: 500;
        }

        &--line2 {
            grid-area: b;
            font-size: 15px;
            font-weight: 300;
        }

        &--price {
            grid-area: c;
            font-size: 15px;
            font-weight: 600;
            text-align: right;
        }
    }

    &__check {
        width: 0px;
        background-color: $color-green;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: width .2s ease-in-out;

        img {
            width: 20px;
            opacity: 0;
            transition: opacity .3s ease-in-out;
        }
    }

    &:hover &__check {
        width: 59px;

        img {
            opacity: 1;
        }
    }
}