// media-queries
@mixin media-tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin media-desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

// fonts
@mixin font-family-heading {
    font-family: 'Shrikhand', cursive;
}

@mixin font-family-text {
    font-family: 'Roboto', cursive;
}

// pos
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}