// colors
$color-background: #F6F6F6;
$color-primary: #9356DC;
$color-primary-2: #F5EDFF;
$color-secondary: #FCA311;
$color-green: #99E2D0;
$color-green-2: #008766;
$color-grey: #353535;
$color-grey-2: #EAEAEA;
$color-grey-3: #7E7E7E;
$gradient-btn: linear-gradient(#FF79DA, $color-primary);