header {
    @include flex-center;
    height: 63px;

    @include font-family-heading;
    font-size: 30px;

    background-color: #fff;
    /* requis pour que box-shadow soit au dessus */
    position: relative;
    z-index: 10;
    box-shadow: 0px 2px 4px 0px #00000026;

    @include media-tablet {
        height: 80px;
        font-size: 33px;

    }

    @include media-desktop {
        height: 96px;
        font-size: 37px;
    }
}

.header--back {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &__icon {
        margin-left: 20px;
        padding: 5px; // élargir la zone clickable
        font-size: 16px;
        width: min-content;
        min-width: 16px;

        i {
            display: block;
        }
    }

    &__logo {
        text-align: center;
    }
}